@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.card {
  white-space: pre-wrap;
}
html {
  scroll-behavior: smooth;
}
