@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  white-space: pre-wrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
